[submodule "external-components"]
	path = external-components
	url = https://github.com/IkeLongo/react-component-library.git
[submodule "lib/react-component-library"]
	path = lib/react-component-library
	url = https://github.com/IkeLongo/react-component-library.git
[submodule "packages/react-component-library"]
	path = packages/react-component-library
	url = https://github.com/ikelongo/react-component-library.git
	branch = collenback-strength
